#Header {
    display: flex;
    padding: 0 20px;
}
#Title {
    width: 50%;
    cursor: default;
}
#Title > h1 {
    font-size: 1.5em;
}
#Links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#Links a {
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    color: crimson;
    padding: 0 8px;
    transition: padding 1s, background-color 1s;
    min-width: 100px;
    text-align: center;
}
#Links a:hover {
    color: rgb(189, 50, 78);
    background-color: rgb(54, 44, 44);
    padding: 1.3em 8px;
    transition: padding .5s;
}
#Content {
    background: rgb(245, 245, 245);
    padding-bottom: 20px;
}
#Hero {
    min-height: 100vh;
    padding: 10px 0;
}
#Avatar {
    text-align: center;
}
#Avatar img {
    border-radius: 50%;
    transform: scale(1);
    transition: border-radius 3s, transform 1s;
}
#Avatar img:hover {
    border-radius: 0%;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px 2px rgb(184, 178, 178);
    transition: border-radius 1s, transform 2s, box-shadow 2s;
}
#Name {
    text-align: center;
}
#Description {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#Portfolio {
    width: 100%;
    margin: 0 auto;
}
#PortfolioTitle {
    width: 100%;
    text-align: center;
}

#Footer {
    background-color: crimson;
    padding: 20px 10px;
}
#Footer p {
    margin: 0;
}

/* Responsive */

@media (max-width: 690px) {
    #Header {
        display: none;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: .9em;
    }
}